<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- name space는 UserRepo의 fully qualified name으로 설정한다. -->
<mapper namespace="com.example.demo.model.dao.ReviewDao">

	<!-- 리뷰 조회 = videoId 일치하는 것만 -->
	<select id="selectReview" parameterType="int"
		resultType="Review">
		SELECT * FROM REVIEW WHERE VIDEOID = #{VIDEOID};
	</select>

	<!-- 리뷰 등록 -->
	<insert id="insertReview" parameterType="Review">
		INSERT INTO
		REVIEW(VIDEOID, TITLE, WRITER, CONTENT) VALUES(#{videoId}, #{title},
		#{writer}, #{content});
	</insert>


	<!-- 리뷰 수정 -->
	<update id="updateReview" parameterType="Review">
		UPDATE REVIEW
		SET
		TITLE = #{title},
		WRITER = #{writer},
		CONTENT = #{content}
		WHERE
		VIDEOID = #{videoId};
	</update>
	<!-- 리뷰 삭제 -->
	<delete id="deleteReview" parameterType="int">
		DELETE FROM REVIEW WHERE
		REVIEWID = #{reviewId}
	</delete>


    <!-- 리뷰 상세 -->
    <select id = "selectOne" parameterType = "int" resultType = "Review">
        SELECT * FROM REVIEW WHERE reviewID = #{reviewId}
    </select>
    
    <!-- 리뷰 조회 -->
    <select id = "selectAll" resultType = "Review">
        SELECT * FROM REVIEW;
    </select>

</mapper>
