<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- name space는 UserRepo의 fully qualified name으로 설정한다. -->
<mapper namespace="com.example.demo.model.dao.UserDao">

	<!-- 회원가입 -->
	<insert id="insertUser" parameterType="User">
		INSERT INTO USER VALUES(#{id},
		#{password}, #{email})
	</insert>

	<!-- 로그인 -->
	<select id="selectOne" parameterType="string" resultType="User"> 
	 select from user where id=#{id}
	</select>
	
</mapper>
